name: Docker Dev CI

on:
  push:
    branches:
      - dev

env:
  RELEASE_VERSION: ${{ github.run_number }}
  COMMIT_HASH: ${{ github.sha }}

jobs:
  build_and_push:
    name: Build dev image and push to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: vanced/website-v2:dev-${{ env.RELEASE_VERSION }},vanced/website-v2:dev-latest
          build-args: |
            REACT_APP_VANCED_LATEST_API_URL=${{ secrets.REACT_APP_VANCED_LATEST_API_URL_DEV }}
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
      - name: Pull and update a new version
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            docker pull vanced/website-v2:dev-${{ env.RELEASE_VERSION }}
            docker service update --env-add VERSION='${{ env.RELEASE_VERSION }}' --env-add COMMIT='${{ env.COMMIT_HASH }}' --image vanced/website-v2:dev-'${{ env.RELEASE_VERSION }}' dev-website-v2_backend
